.container {
  color: #2E5266;
}
.container h3 {
  font-size: 20px;
  text-align: center;
}
.container p {
  opacity: 0.8;
}
.cards {
  padding: 0px 25px 0px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.card img {
  height: 100px;
}
